<!-- -*- mode: XML -*- -->

<launch>
	<!-- Startup Commands -->
		<!-- sudo rmmod xpad && sudo xboxdrv -->
		<!-- roscore -->
		<!-- cd ~/gitRepos/design_control_demo && source devel/setup.bash && roslaunch high_level_controller launch_all.launch-->
		<!-- cd ~/gitRepos/design_control_demo && source devel/setup.bash && rosrun joy joy_node-->	
		<!-- cd ~/gitRepos/design_control_demo && source devel/setup.bash && rosrun rosserial_python serial_node.py /dev/ttyACM0-->
		<!-- cd ~/gitRepos/design_control_demo && source devel/setup.bash && rosrun high_level_coroller high_level_controller.py-->
		<!-- cd ~/gitRepos/design_control_demo && source devel/setup.bash && rosrun high_level_coroller high_level_controller_fg.py-->

	<!-- Force Glove Commands -->
		<!-- cd ~/gitRepos/design_control_demo && source devel/setup.bash && roslaunch read_force_glove dual_force_glove_launch.launch-->
		<!-- cd ~/gitRepos/design_control_demo && source devel/setup.bash && rosrun read_force_glove interpret_force_glove.py-->

	<!-- Parameters -->
		<!-- <param name="sendTraj" value="0" type="double" /> -->

	<!-- Nodes -->
		<!-- High Level Controller -->
		<node pkg="high_level_controller" 
			type="high_level_controller.py" 
			name="high_level_controller" 
			output="screen"/> 

		<!-- Xbox Controller -->
		<node pkg="joy" 
			type="joy_node" 
			name="joy_node"
			output="screen"/> 

		<!-- Serial Arduino Motor -->
		<node pkg="rosserial_python"
			type = "serial_node.py"
			name = "serial_arduino_motor"
			output = "screen"
			args = "/dev/ttyACM0"/>

		<!-- RQT plot -->
		<node pkg="rqt_plot" 
			type="rqt_plot" 
			name="rqt_plot" 
			output="screen"
			args="/testing" /> 

		<!-- Rosbag recording -->
		<node pkg="rosbag" 
			type="record" 
			name="recorder" 
			args="-a -o /home/jacob/gitRepos/design_control_demo/src/high_level_controller/bag_files/"/> 

</launch>
